#hero-slots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 500px;
}
#team-roster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.3em;
}
