#hero-slots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width:  380px;
}
#team-roster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.3em;
}
.TeamStats {
  width: 40%;
  min-width: 360px;
}
@media (max-width: 720px) {
  .TeamStats {
    width: 100%;
  }
  #hero-slots {
    width: 100%;
  }
}
