.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  margin-bottom: 2em;
}
footer {
  display: flex;
  padding-right:-10px;
  justify-content: space-between;
  position:fixed;
  width:100%;
  padding:0.5em;
  font-size: 0.75em;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  margin-top: 1em;
  left: 0;
  bottom: 0;
 
}
footer a {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  padding:0.5em;

}

footer a:hover {
  color: rgba(51, 51, 51, 0.6);
}

@media (max-width: 500px) {
  #logo {
    width: 100%;
  }
}
