body {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: sans-serif;
  background-color: #8b99a7;
  background-image: 'overcomp\public\assets\overwatchback.jpg';
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
