body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background-color: #8b99a7;
}
#hero-slots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 500px;
}
#team-roster {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}
#team-stats h2 {
  text-align: center;
}
.hero-slot {
  padding: 0.5em;
  display: inline-block;
  width: 112px;
}
.hero-slot h3 {
  font: italic normal normal 10px Big Noodle Too,impact,sans-serif;
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: .08rem;
  margin: 0;
  text-align: center;
}
.slot-portrait {
  border: 1px solid black;
  width: 110px;
  height: 100px;
  background-color: rgb(200, 199, 207);
  border-radius: 7px;
  overflow: hidden;
}
.selected.slot-portrait:hover {
  cursor: pointer;
  border: 1px solid #f9ab4f;
}

.hero-button {
  cursor: pointer;
  display: inline-block;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 50px;
}
.hero-image {
  display: inline-block;
  width: calc(100% + 10px);
  height: 100%;
  background-size: auto 100%;
  background-position: 50% 50%;
  position: relative;
  -webkit-transform: skew(-25rad) translateX(-5px);
  -ms-transform: skew(-25rad) translateX(-5px);
  transform: skew(-25rad) translateX(-5px);
}
.clipping-mask {
  display: block;
  position: relative;
  width: 70px;
  height: 84px;
  margin: 2.4px 6px;
  border-top: 3px solid #f0edf2;
  border-bottom: 3px solid #f0edf2;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-color: rgba(51,51,51,.9);
  background-clip: padding-box;
  overflow: hidden;
  border-radius: 7px;
  transform: skew(25rad);
}
.clipping-mask:hover {
  background-color: #f9ab4f;
  border: 3px solid #f0edf2;
}
.hero-portrait-label {
  position: relative;
  display: inline-block;
  top: -4.2px;
  margin-left: -10px;
  padding: 1px 10px;
  font-size: 1.3rem;
  color: #333;
  white-space: nowrap;
  font: italic normal normal 14px Big Noodle Too,impact,sans-serif;
}
.selected {
  background-color: lightblue;
}
.hero-set h2 {
  text-align: center;
  margin: 0px;
}
#hero-select {
  display: flex;
  justify-content: space-around;
}
.hero-set > span {
  width: 100%;
  height: 2px;
  opacity: .2;
  background: #fff;
}
